<%= render "shared/navbar"%>

<div class="container">
  <div class="home-message">
    <h1 class="h1-home">
        <h1> Welcome back, <%= Current.user.email_address %></h1>
    </h1>
  </div>
</div>
